{
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["tsconfig.json"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
